.errorAuthText {
    color: #a5ffd0;
    text-align: center;
    font-size: 58px;
}

.table_icons div{
    display: flex;
}

.card_question_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}