.profileEdit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 446px;
    height: 413px;
    text-align: center;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    box-shadow: 1px 1px 3px 3px rgb(41, 56, 63), -1px -1px 2px rgb(41, 56, 63);
    border-radius: 80px 0;
}

.profileHeader {
    display: inline-block;
    margin-top: 21px;
    color: #b9d0c4;
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
}

.badgeAvatar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textField label {
    color: #758b90;
    margin: 0;
}

.textField div {
    margin-bottom: 10px;
}

.textField input:focus {
    color: #a7f8ce;
}

.editUserName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    white-space: nowrap;
}

.editIcon {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
}

.submitBtn {
    border: none;
    width: 60px;
    height: 28px;
    font-weight: 500;
    background: #758b90;
    box-shadow: 0 0 2px 2px rgba(109, 109, 109, 0.25);
    border-radius: 30px 10px;
    transition: .3s;
    cursor: pointer;
}

.submitBtn:disabled {
    background: #545a5d
}

.submitBtn:hover:enabled {
    background: #a7f8ce;
}

.userProfileName {
    display: inline-block;
    align-items: center;
    color: #a7f8ce;
    font-size: 21px;
    font-weight: 600;
}

.errorMessage {
    color: #ffb0af;
}

.userEmail {
    display: inline-block;
    font-weight: 100;
    font-size: 18px;
    color: #b9d0c4;;
    margin-top: 10px;
}

.logoutContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 127px;
    height: 36px;
    background: #758b90;
    box-shadow: 0 0 2px 2px rgba(109, 109, 109, 0.25);
    border-radius: 30px 10px;
    transition: .3s;
    cursor: pointer;
}

.logoutButton img {
    margin-top: 1px;
}

.logoutButton:hover {
    background: #a7f8ce;
}

.buttonTitle {
    font-weight: 500;
    margin-left: 5px;
    font-size: 18px;
    line-height: 20px;
    opacity: 0.8;
}