.editRow {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: revert;
    gap: 20px;
}

.editRow div {
    display: flex;
}

.iconGroup {
    display: flex;
    gap: 10px;
}

.question_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.question_image_default {
    width: 100px;
    height: 20px;
    object-fit: cover;
}
