.newPasswordBlock {
    width: 100%;
    max-width: 413px;
    margin: 60px auto;
    border-radius: 8px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #F9F9FE;
    position: relative;
    text-align: center;
}

.textField {
    margin-top: 20px;
    width: 100%;
}

.textField label {
    margin: 0;
}

.errors {
    width: 100%;
    text-align: left;
    height: 15px;
    color: red;
}

.newPasswordBlock p {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 600;
}
.newPasswordBlock a {
    width: 100%;
    text-decoration: 0;
    color: #fff;
}

.newPasswordBlock .newPasswordBtn {
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #366EFF;
}

