.popoverBlock {
    min-height: 200px;
}

.spin {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    width: 45px;
    transform: translate(-50%, -50%);
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userInfo span {
    font-weight: 500;
}

.avatar {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.popoverTrigger {
    font-weight: 700;
    cursor: pointer;
}

.popoverTrigger:hover {
    color: #860488;
}