.popoverBlock {
    min-height: 200px;
}

.spin {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    width: 45px;
    transform: translate(-50%, -50%);
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    margin: 10px auto;
}

.popoverTrigger {
    cursor: pointer;
}

.popoverTrigger:hover {
    color: #860488;
}