.popoverBlock {
    min-height: 200px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    margin: 10px auto;
}

.popoverTrigger {
    cursor: pointer;
}
.popoverTrigger:hover {
    color: #860488;
    font-weight: 600;
    font-size: 13.5px;
}