.loginBlock {
    width: 100%;
    max-width: 413px;
    margin: 60px auto;
    border-radius: 8px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #F9F9FE;
    position: relative;
}

.loginBlock h2 {
    font-size: 26px;
    color: #2D2E46;
}

.formBlock {
    width: 100%;
}

.controlGroup {
    width: 100%;
}

a {
    text-decoration: none;
}

/*.textField input {*/
/*    margin-top: 25px;*/
/*    width: 100%;*/
/*    max-width: 350px;*/
/*}*/
.textField label {
   margin: 0;
}
.visibilityIcon {
    /*margin-top: 10px;*/
    color: black;
}

.forgotPass {
    text-align: right;
    color: black;
}

.forgotPass a {
    color: black;
}

.errors {
    height: 15px;
    color: red;
}

.loginBlock .loginBtn {
    margin-top: 90px;
    border-radius: 30px;
    background-color: #366EFF;
}

.loginBlock .loginBtn:hover {
    background-color: rgba(6, 13, 30, 0.79);
}

.loginBlock p {
    margin-top: 30px;
    text-align: center;
    color: #2D2E46;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
}

.signUpLink {
    text-align: center;
}

.signUpLink a {
    font-weight: bold;
    text-align: center;
    color: #366EFF;
}

