.quantity_filter {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.quantity_parameters {
    display: flex;
}

.quantity_parameters input {
    width: 50px;
    text-align: center;
    margin: 0 20px;
    border-radius: 5px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}