.search_block {
    background-color: white;
    width: 80%;
    margin: 30px auto;
}

.search_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
}

.search_header h2 {
    font-size: 22px;
}

.search_header button {
    height: 40px;
    border-radius: 30px;
}

.parameters_block {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input_field {
    width: 100%;
    max-width: 500px;
}

.owner_filter {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.quantity_filter {
    width: 100%;
    max-width: 300px;
   text-align: center;
}