.cards_modal_input {
    margin: 10px 0 10px 0;
}

.add_pack_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_modal_select {
    width: 100%;
}

.deleteAttentionText {
    font-weight: 700;
}

.deletedCardName {
    text-transform: uppercase;
    color: #f30606;
    font-weight: 700;
}
