label {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #F5EEDC;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: #622828;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.checkbox {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.spanClassName {
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #f30606;
    -webkit-text-stroke: .5px #000;
}