.headerContainer {
    height: 65px;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: #F0F2F0;
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);
    background: linear-gradient(to right, #000C40, #F0F2F0);
    box-shadow: 1px 1px 3px 3px rgb(41, 56, 63), -1px -1px 2px rgb(41, 56, 63);

    z-index: 1; /*based on situation*/
}

.navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.navigationContainer img{
    width: 200px;
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: calc(100% + .70rem);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.dropdownMenuActive {
    position: absolute;
    top: calc(100% + .70rem);
    /*padding: .75rem;*/
    pointer-events: auto;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    transform: translateY(0);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 1;
}

.navElement {
    display: block;
    color: #a7f8ce;
    padding: 1rem;
    border-radius: .25rem;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

.navElement:hover {
    background: #2c5263;
}

.dropdownProfile {
    position: absolute;
    left: 1.8rem;
    top: calc(100% + 1rem);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    pointer-events: none;
    background: #cfd2d8;
    font-weight: 600;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
}

.dropdownProfileActive {
    position: absolute;
    left: 1.8rem;
    top: calc(100% + 1rem);
    text-align: center;
    pointer-events: auto;
    border-radius: .25rem;
    background: #cfd2d8;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    transform: translateY(0);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 1;
}

.navProfileElement {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: .25rem;
    padding: 1rem;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.navProfileElement img {
    margin: 2px 2px 0 0;
}

.navProfileElement:hover {
    background: #d5e0f6;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.signInBtn {
    border: none;
    width: 92px;
    height: 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #4f587a;
    box-shadow: 0 0 2px 2px rgba(109, 109, 109, 0.1);
    border-radius: 30px 10px;
    transition: .3s;
    cursor: pointer;
}

.signInBtn:hover {
    color: #000;
    background: #a7f8ce;
}

.userName {
    font-size: 21px;
    font-weight: 600;
}

.userPhoto {
    width: 41px;
    height: 41px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}