.headerContainer {
    height: 65px;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 1px 3px 3px rgb(41, 56, 63), -1px -1px 2px rgb(41, 56, 63);
}

.navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: calc(100% + .70rem);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
}

.dropdownMenuActive {
    position: absolute;
    top: calc(100% + .70rem);
    /*padding: .75rem;*/
    pointer-events: auto;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    transform: translateY(0);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 1;
}

.navElement {
    display: block;
    color: #a7f8ce;
    padding: 1rem;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

.navElement:hover {
    background: #2c5263;
}

.navigationContainer img{
    width: 200px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.loginBtn {
    border: none;
    width: 80px;
    height: 34px;
    color: #fff;
    background: #366EFF;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.loginBtn:hover {
    background: #3f51b5;
}

.userName {
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}

.userPhoto {
    width: 41px;
    height: 41px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}