.searchBlock {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
    z-index: -1;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.searchHeader h2 {
    font-size: 22px;
}

.searchHeader button {
    height: 40px;
    border-radius: 30px;
}

.parametersBlock {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

