@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&display=swap');

.learn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #ddd;
    width: 50%;
}

.question_answer_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question_block span {
    margin: 20px 0;
    font-size: 23px;
    font-weight: 700;
}

.question_block span:nth-child(2) {
    background: #dddddd;
    padding: 10px;
    box-shadow: 0 0 2px 2px #d4d1d1;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.answer_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.answer_block span {
    font-size: 18px;
    margin: 10px 0;
    background: #772b864f;
    padding: 10px;
    box-shadow: 0 0 2px 2px #d4d1d1;
    border-radius: 10px;
    font-weight: 500;
}

.learn_btn_block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.learn_btn_block button {
    height: 38px;
    font-size: 14px;
    font-weight: 700;
    color: #fff !important;
    border: 1px solid #758b90;
    background: #4f587a;
    box-shadow: 0 0 1px 1px rgba(109, 109, 109, 0.2);
    border-radius: 30px 10px;
    transition: .3s;
    cursor: pointer;
    width: 120px;
    margin: 0 10px;
}

.learn_btn_block button:hover {
    color: #000 !important;
    background: #a7f8ce;
}

.hide_span {
    display: none;
}

.rate_your_self {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.rate_span {
    font-size: 23px;
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 1px solid #000;
}

.learn_radio_block span {
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
}
