.main_block {
    width: 100%;
    max-width: 413px;
    margin: 100px auto;
    border-radius: 80px 0;
    color: #b9d0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    box-shadow: 1px 1px 3px 3px rgb(41, 56, 63), -1px -1px 2px rgb(41, 56, 63);
    row-gap: 20px;
    position: relative;
}

.main_block h2 {
    font-size: 26px;
    color: #b9d0c4;
}

.form_block, .control_group, .inputField {
    width: 100%;
}

.inputField label {
    margin: 0;
    color: #b9d0c4;
}

.rememberMe_container {
    pointer-events: none;
    margin-top: 25px;
}

.rememberMe_container label {
    pointer-events: auto;
}

.rememberMe_checkbox {
    margin-right: 10px;
}

.errors {
    width: 100%;
    height: 20px;
    color: #ffb0af;
}

.forgot_password {
    pointer-events: none;
    text-align: right;
    color: #b9d0c4;
}

.checkEmailHead {
    font-size: 26px;
    color: #b9d0c4;
    margin: 0;
}

.checkEmail_opacity_text {
    margin: 0;
    text-align: center;
    opacity: 0.5;
}

.showPasswordBtn path {
    color: #b9d0c4;
}

.forgot_title {
    pointer-events: auto;
}

.main_block .auth_button {
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    background: #758b90;
    box-shadow: 0 0 2px 2px rgba(109, 109, 109, 0.25);
    border-radius: 30px 10px;
    transition: .3s;
    cursor: pointer;
}

.inputField input {
    color: #C0D8C0;
}

.inputField input:-webkit-autofill  {
    -webkit-text-fill-color: #C0D8C0 !important;
    -webkit-background-clip: text;
}

.main_block .auth_button:hover {
    color: #000;
    background: #a7f8ce;
}

.sign_auth_link {
    font-weight: bold;
    text-align: center;
    color: #C0D8C0;
    text-decoration: none;
}

.opacity_text {
    text-align: center;
    opacity: 0.5;
}

.email_link {
    width: 100%;
}
.email_link a {
    text-decoration: none;
}


@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

